@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <a href="/Home/Contact">Contact Us 1</a>

        <a asp-controller="Home" asp-action="Contact" asp-route-id="3">Contact Us 2</a>
</div>
        <img src="~/images/ghosts.jpg" asp-append-version="true" alt="Image" width="500" />
